@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
    background: rgb(241, 231, 254);
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: rgba(250, 168, 181, 0.4)
}

.movies li img {
    max-width: 300px;
    border-radius: 12px;
}

.movies li h2 {
    color: #E36514;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family: "Oswald", sans-serif;
}

.header{
    max-width: 100%;
    position: relative;
    padding: 0 30px;
    height: 80px;
}

.menu-container{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.menu {
    display: flex;
}

.menu-item {
    margin: 0 8px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.menu-item a{
    margin: 0 8px;
    list-style: none;
    font-size: 1.6em;
    text-decoration: none;
    color: #E36514;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    margin: 0 8px;
    list-style: none;
    text-decoration: none;
}

.menu-item a:hover{
    color: pink;
    transition: 0.5s;
    text-decoration: underline;

}

@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .menu-item{
        margin: 8px 0;

    }

    .searchBar {
        margin-right: 0;
    }
    
}

.search h1 {
    color: #000;
    font-size: 1.4em;
    font-family: "Oswald", sans-serif; 
}

.search {
    padding: 15px 10px 0;
    margin-top: auto;
    margin: 0 8px;
}

.search input {
    background-color: pink;
    padding: 10px 20px;
    border-radius: 15px;
	color: #606060;
	font: inherit;
    border: none;
	cursor: pointer;
	outline: inherit;
    opacity: 0.8;
    font-weight: bold;
    width: 400px;
}

/* .logout {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logout button{
    background-color: pink;
    padding: 10px 20px;
    border-radius: 15px;
	color: #E36514;
	font: inherit;
    border: none;
	cursor: pointer;
	outline: inherit;
    opacity: 0.8;
    font-weight: bold;
}

.logout button:hover{
    opacity: 1;
    transition: 0.5s;
} */
